<% unless browserapi.data.title == 'API Name Here' %>
<li>
  <a href="<%= browserapi.url %>">
    <h4><%=browserapi.data.title%></h4>
    <p><%=browserapi.data.short_description%></p>
  </a>
</li>
<% end %>