<footer>
  <p>Originally conceived and built by <a href="https://twitter.com/Rumyra">Ruth John</a> with help from <a href="https://twitter.com/BPScott">Ben Scott</a></p><!--
  --><nav>
    <a href="https://github.com/Rumyra/browserapis.wtf" rel="external">Contribute</a>
  </nav>
</footer>
