<footer>
  <p>Originally conceived and built by <a href="">Ruth John</a> with help from <a href="">Ben Scott</a></p><!--
  --><nav>
    <a href="https://github.com/Rumyra/web-apis" rel="external">Contribute</a>
  </nav>
</footer>