<footer>
  <p>Made by The Lab @ O2. 2014</p><!--
  --><nav>
    <a href="https://twitter.com/thelab_uk" rel="external">Twitter</a>
    <a href="https://thelab.o2.com/" rel="external">Blog</a>
  </nav>
</footer>