  <header role="banner">
    <h1><a href="/">White Paper</a></h1>
    <nav role="navigation">
      <button class="nav-toggle">Show/Hide Nav</button>
      <ul>
        <li><a href="/styleguide">Styleguide</a></li><!--
        --><li>
          <a href="#">With Sub Nav</a>
            <nav class="nav-sub">
              <a href="#">Sub Nav 1</a>
              <a href="#">Two Sub Nav</a>
              <a href="#">Third item</a>
              <a href="#">4th nav</a>
              <a href="#">Sub Nav 5</a>
            </nav>
        </li><!--
        --><li><a href="#">Nav Item</a></li><!--
        --><li><a href="#">Another</a></li>
      </ul>
    </nav>
  </header>