  <header role="banner">
    <h1><a href="/">Web APIs</a></h1>
    <div>
      <p>AKA Browser APIs, Web Javascript APIs, Device APIs, HTML5 APIs (meh), or simply Javascript APIs</p>
      <p>I like <i>Client Side Web APIs</i> myself - or CSWAPIS if you will</p>
    </div>
  </header>