  <header role="banner">
    <h1><a href="/" rel="internal">White Paper</a></h1>
    <nav role="navigation" class="nav-block">
      <button class="nav-toggle">Show/Hide Nav</button>
      <ul>
        <li><a href="/styleguide/main-partials.html" rel="internal">Main Partials</a></li><!--
        --><li>
          <a href="/styleguide/typographic-elements.html" rel="internal">Typographic Elements</a>
            <nav class="nav-sub">
                <a href="/styleguide/typographic-elements.html#headers">Headers</a>
                <a href="/styleguide/typographic-elements.html#paragraphs">Paragraphs</a>
            <a href="/styleguide/typographic-elements.html#formatting">Text Formatting</a>
            <a href="/styleguide/typographic-elements.html#lists">Lists</a>
            <a href="/styleguide/typographic-elements.html#quotes">Quotes</a>
                <a href="/styleguide/typographic-elements.html#code">Code Blocks</a>
            </nav>
        </li><!--
        --><li><a href="/styleguide/forms.html" rel="internal">Forms</a></li><!--
        --><li><a href="/styleguide/tables.html" rel="internal">Tables</a></li><!--
        --><li><a href="/styleguide/buttons-icons.html" rel="internal">Buttons & Icons</a></li><!--
        --><li>
          <a href="/styleguide/media.html" rel="internal">Media</a>
          <nav class="nav-sub">
            <a href="/styleguide/media.html#images">Images</a>
            <a href="/styleguide/media.html#audio">Audio</a>
            <a href="/styleguide/media.html#video">Video</a>
          </nav>
        </li><!--
        --><li>
          <a href="/styleguide/messages-modals.html" rel="internal">Messages & Modals</a>
          <!--<nav class="nav-sub">
            <a href="/messages-modals.html#messages">Messages</a>
            <a href="/messages-modals.html#alerts">Alerts</a>
            <a href="/messages-modals.html#modals">Modals</a>
          </nav>-->
        </li><!--
        --><li>
          <a href="/styleguide/navigation.html" rel="internal">Navigation</a>
            <nav class="nav-sub">
              <a href="/styleguide/navigation.html#navigation">Navs</a>
              <a href="/styleguide/navigation.html#breadcrumbs">Breadcrumbs</a>
              <a href="/styleguide/navigation.html#navigation">Pagination</a>
              <!-- <a href="">Tabs</a>
              <a href="">Menus</a> -->
            </nav>
        </li>
      </ul>
    </nav>
  </header>