---
body_class: index
title: Home | Web APIs
keywords: Web, Web APIs, APIs, HTML, Javascript, Resource, Javascript APIs, Browser APIs
description: A website showcasing all the new web APIs, their code examples and further details about them.
---

<ul>
<% sitemap.find_resource_by_path('guidelines/index.html').children.each do |page| %>
    <li>
        <%= partial 'partials/objects/guideline', :locals => {:guideline => page} %>
    </li>
<% end %>
</ul>
