
.api-detail {
  padding: 0px $gutter;
  .resource-links {
    padding: $verticalSpace 0px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    
    -webkit-flex-flow: row wrap;
    justify-content: space-around;

    section {
      padding: $verticalSpace/2 $gutter;
      border-left: 6px solid $primaryColour;
      ul { 
        @include clearListStyles();
        li {
          padding: $verticalSpace/4 0px;
        }
      }
    }
  }

  .code-uses {
    overflow: hidden;
    pre {
      float: left; width: 67%;
      @include simple-vendor-prefix(box-sizing, border-box);
    }
  }
}