
<%
@body_class = 'index'

@title = 'Home | Front End Framework'
@keywords = 'The Lab, Front End Framework,'
@description = 'Front End Framework for The Lab @ o2'
%>

<h2>Styleguide</h2>

<p class="lede">This contains all HTML elements, their mark up and basic styling. Each section has a partner .scss file.</p>

<p>Start here. Go through all the partner Sass files, (start with _settings.scss), creating your base styles for the base elements. You can then go about expanding and adding UI elements from your specific design.</p>

<p>N.B. Default layout is full width seen here on the homepage. Add <code>.layout-sidebar</code> class to body for large screen to have side nav, a la the pages of this styleguide.</p>