<%
@body_class = 'layout-sidebar modals'

@title = 'Messages & Modals | Front End Framework'
@keywords = 'The Lab, Messages, Alerts, Overlays, Modals,'
@description = 'Front End Framework for The Lab @ o2'
%>

<h2>Messages & Modals</h2>

<h3>Coming Soon</h3>

<article class="element-copy">
  <header id="images">
    <h3>Messages</h3>
  </header>
  <section class="element-one">

    <pre class="language-markup"><button class="icon-before i-copy">Copy to Clipboard</button><code></code></pre>
  </section>
</article>


<!--   <article class="element-copy">
    <header id="images">
      <h3>Messages</h3>
    </header>
    <section class="element-one">

      <pre class="language-markup"><code></code></pre>
      <button class="clipboard">Copy to Clipboard</button>
    </section>
  </article> -->
